<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zengbobobase.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- 获取应用程序大小权限 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <!-- 访问Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.zengbobobase.demo.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_title"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zengbobobase.demo.activity.MainActivity"
            android:label="@string/app_name_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.TestAndroidActivity"
            android:label="TestAndroidActivity" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.FirstActivity"
            android:label="获取应用程序缓存、数据、代码大小" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.ApplicationTotalActivityame"
            android:label="获取手机安装应用程序信息" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.HandlerUIActivity"
            android:label="线程handler更新UI" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.MulThreadDownLoadFileActivity"
            android:label="多线程同时下载同一文件" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.PrintActivity"
            android:label="打印信息" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.SinaActivity"
            android:label="新浪微博webview" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.SinaSDKActivity"
            android:label="调用新浪微博SDK,从第三方 应用 唤起 微博客户端" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zengbobobase.demo.sinweibo.ShareActivity"
            android:label="新浪微博SDKShareActivity" >
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:label="腾讯SDK给应用的AndroidManifest增加SDK需要的配置"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100307986" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="腾讯SDK开发者因为忘了增加onActivityResult代码，而导致无法获得回调。"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.zengbobobase.demo.tencent.my.TencentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="腾讯sdk调用" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.ApplicationTotalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="微信sdk调用" >
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="微信WXEntryActivity" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.MergeActivity"
            android:label="MergeActivity" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.WebViewJsActivity"
            android:label="WebViewJsActivity" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.WebViewJsNewActivity"
            android:label="WebViewJsNewActivity" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.WebViewJsLvmmActivity"
            android:label="WebViewJsLvmmActivity" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.PhoneDPIActivity"
            android:label="查看手机基本信息" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.DP_SPActivity"
            android:label="dp,sp在系统下的字体设置效果" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.ResultActivity"
            android:label="@string/app_name_title" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="LvmmLogin" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.MD5Activity"
            android:label="得到任意apk公钥信息的md5字符串" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.BitmapShadersActivity"
            android:label="BitmapShaders构造渲染器" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.OnclickActivity"
            android:label="OnclickActivity" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.ConnectivityManagerActivity"
            android:label="ConnectivityManager服务" >
        </activity>
        <activity
            android:name="com.zengbobobase.demo.activity.GifActivity"
            android:label="GifActivity" >
        </activity>
        
            <activity
            android:name="com.zengbobobase.demo.activity.DalvikActivity"
            android:label="]Android内存管理及内存泄露DalvikActivity" >
        </activity>
           <activity
            android:name="com.zengbobobase.demo.activity.ReLoadWebVIEWActivity"
            android:label="ReLoadWebVIEWActivity" >
        </activity>
          <activity
            android:name="com.zengbobobase.demo.activity.MyListViewViewGroupActiviy"
            android:label="仿ios7信息栏滑动删除MyListViewViewGroupActiviy" >
        </activity>
            

        <service android:name="com.zengbobobase.demo.service.MyService" >
        </service>
    </application>

</manifest>